{% extends 'base.html' %}

{% block title %}
recurrentgemma sae
{% endblock %}

{% block body %}
<body>
<h2>recurrentgemma sae</h2>

<table>
    <tr>
        <td>
            filenames (comma-separated):
            <input id="filenames" placeholder="pid.[pid]-batch.[batch]" size="35"
                   type="text">.pkl.gz
        </td>
    </tr>
    <tr>
        <td>
            <label for="variant">variant:</label>
            <select id="variant">
                <option value="2b">2b</option>
                <option value="2b-it">2b-it</option>
                <option selected value="9b">9b</option>
                <option value="9b-it">9b-it</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <br/>
            <button onclick="visualize_raw_activations();">raw activations</button>
            <button onclick="visualize_sae_activations();">sae activations</button>
            <span>&nbsp;&nbsp;</span>
            <span id="loader">(processing ...)</span>
        </td>
    </tr>
</table>

<br/>
<hr>

<h3>activations</h3>

<table>
    <tr>
        <td>
            layer: <input id="layer" max="37" min="0" type="number" value="30">
            &nbsp;
            neuron: <input id="neuron" max="4095" min="0" type="number" value="1000">
        </td>
    </tr>
    <tr>
        <td>
            <label for="activation_type">activation type:</label>
            <select id="activation_type">
                <option value="rg_lru_states">rg-lru</option>
                <option selected value="mlp_activations">mlp</option>
            </select>
        </td>
    </tr>
</table>

<br/>
<button onclick="reload();">reload activations</button>
<br/><br/>

<p id="content"></p>

<script>
    $("#loader").text("(processing ...)").hide()

    const content = document.querySelector('#content')

    var activations_dicts = []
    var _activation_values = []

    function visualize_raw_activations() {
        // Reset the `activations_dicts`.
        activations_dicts = []
        reset()

        const filenames = document.getElementById("filenames").value.split(",")
        const variant = document.getElementById("variant").value

        filenames.forEach((filename, file_idx) => {
            activations_dicts.push({})
            $.ajax({
                type: "POST",
                async: true,
                url: "{{ url_for('visualize_raw_activations') }}",
                data: {
                    filename: `${filename.trim()}.pkl.gz`,
                    variant: variant,
                },
                beforeSend: function () {
                    $("#loader").text("(loading files ...)").show()
                },
                success: function (response) {
                    set_activations_dict(response, file_idx)
                    visualize(activations_dicts[file_idx], file_idx)
                },
                error: function () {
                    $("#loader").text("(processing ...)").hide()
                }
            })
        })
    }

    function visualize_sae_activations() {
    }

    function set_activations_dict(response, file_idx) {
        $("#loader").text(`(loaded file-${file_idx} ...)`).show()
        activations_dicts[file_idx] = JSON.parse(response)
    }

    function visualize(activations_dict, file_idx) {
        const layer = document.getElementById("layer").value
        const neuron = document.getElementById("neuron").value
        const activation_type = document.getElementById("activation_type").value

        const tokens = activations_dict["tokens"][0]
        const activation_scores = activations_dict[`blocks.${layer}`][activation_type][0]

        console.log(`layer=${layer}`)
        console.log(`neuron=${neuron}`)
        console.log(`activation_type=${activation_type}`)

        if (file_idx > 0) {
            content.appendChild(document.createElement("br"))
            _activation_values.push(0.0)
            content.appendChild(document.createElement("br"))
            _activation_values.push(0.0)

            const hr_small = document.createElement("hr")
            hr_small.classList.add("small")
            content.appendChild(hr_small)
            _activation_values.push(0.0)

            content.appendChild(document.createElement("br"))
            _activation_values.push(0.0)
        }

        const seq_len = document.createElement("span")
        seq_len.innerHTML = `(sequence length: ${tokens.length})`
        content.appendChild(seq_len)
        _activation_values.push(0.0)

        content.appendChild(document.createElement("br"))
        _activation_values.push(0.0)
        content.appendChild(document.createElement("br"))
        _activation_values.push(0.0)

        tokens.forEach((token_str, tok_idx) => {
            const token = document.createElement("span")
            token.innerText = token_str.replaceAll("▁", " ")

            var activation_value = parseFloat(activation_scores[tok_idx][neuron])
            var multiplier = 1.0
            if (activation_value < 0) {
                token.classList.add("visualize_neg")
                _activation_values.push(-1 * activation_value * multiplier)
            } else {
                token.classList.add("visualize_pos")
                _activation_values.push(activation_value * multiplier)
            }
            content.appendChild(token)
        })

        if (file_idx === activations_dicts.length - 1) {
            highlight_activations()
            $("#loader").text("(processing ...)").hide()
        }
    }

    function highlight_activations() {
        Array.from(content.children).forEach((node, node_idx) => {
            node.style.setProperty('--activation', _activation_values[node_idx].toFixed(5))
        })
    }

    function reload() {
        reset()
        activations_dicts.forEach((activations_dict, act_idx) => {
            visualize(activations_dict, act_idx)
        })
    }

    function reset() {
        _activation_values = []
        content.innerHTML = ""
    }
</script>
</body>
{% endblock %}
